div.uk-container {
    margin-bottom: 0 !important;
    padding: 0;
}

.uk-navbar {
    display: none;
    margin-bottom: 0 !important;
}

html, body {
    height: 100%;
    /*overflow: hidden;*/
}

.uk-slideshow-fullscreen {
    /*height: 95vh !important;*/
    width: auto !important;
    background-color: black;
}

.uk-slideshow-fullscreen li > div {
    /*border: 3px solid white;*/
}

.uk-slideshow-fullscreen .uk-cover-background {
    background-size: contain;
}

.uk-slideshow-fullscreen {
    cursor: none;
}

.status {
    position: fixed;
    top: 11rem;
    right: 3rem;
    color: #C0C0C0;
    opacity: 0;
    font-size: 5rem;
    transition: opacity 1s linear;
}
.status.active {
    opacity: 0.7;
}


/*.zoomed {
    transition: transform 500ms linear;
    animation-name: none;
}
*/

#controls {
    /*display: none;*/
    position: absolute;
    top: -50%;
    transition: top 0.8s ease;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 0px;
}

#controls #album-title {
    text-align: center;
}


#controls #tags-list {
    text-align: left;
}

#controls #tags-list .uk-button-group {
    margin-right: 5px;
}

#controls #tags-list .uk-button-group input:not(:first-child):not(:last-child) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: none;
}

#controls .selectize-input {
    min-width: 9em;
    height: 30px;
}
#controls .selectize-input:after {
    display: none;
}
#controls .selectize-input input {
    height: 17px !important;
}
#controls #counter {
    margin-left: 0.6em;
    padding-left: 0.4em;
}
#controls #star{
    color: #57584B;
    margin-left: 0.6em;
    padding-left: 0.4em;
    cursor: pointer;
}
#controls #cover{
    color: #57584B;
    margin-right: 0.6em;
    padding-right: 0.4em;
    cursor: pointer;
}
#controls #star:hover,
#controls #cover:hover{
    color: #787A67;
}
#controls #star.starred,
#controls #cover.selected{
    color: #FFFFFF;
}
#controls #star.starred:hover,
#controls #cover.selected:hover{
    color: #BABBB0;
}

.close {
    position: fixed;
    font-size: 7rem;
    color: #2E2E10;
    top: 2.5rem;
    right: 2.5rem;
    opacity: 0.5;
    transition: opacity 1s linear;
}

.close:hover {
    color: #5F5F5F;
    opacity: 1;
}
.uk-modal-caption {
    height: 0;
}

.uk-modal-caption img{
    width: auto;
    position: relative;
    height: auto;
    max-height: calc(70vh - 180px);
}

/*
.uk-slidenav-position .uk-slidenav-previous {
    left: 60px;
}

.uk-slidenav-position .uk-slidenav-10-previous {
    left: 15px;
}

.uk-slidenav-position .uk-slidenav-next {
    right: 60px;
}

.uk-slidenav-position .uk-slidenav-10-next {
    right: 15px;
}

.uk-slidenav-10-previous:before {
  content: "\f100";
  font-family: FontAwesome;
}

.uk-slidenav-10-next:before {
  content: "\f101";
  font-family: FontAwesome;
}*/

.focus-marker {
    position: absolute;
    width: 1px;
    border: 2px solid red;
    height: 1px;
    z-index: 100;
    background-color: red;
    top: 0;
    left: 0;
}

.face-frame {
    position: absolute;
    width: 0;
    height: 0;
    border: 2px solid blue;
    top: 0;
    left: 0;
}

.landsmark-marker {
    position: absolute;
    width: 2px;
    height: 2px;
    border: 2px solid green;
    z-index: 100;
    background-color: green;
    top: 0;
    left: 0;
}
.focus-marker,
.face-frame,
.landsmark-marker {
    opacity: 0.1;
}

.focus-marker.visible,
.face-frame.visible,
.landsmark-marker.visible {
    opacity: 0.6;
}

.focus-marker.invisible,
.face-frame.invisible,
.landsmark-marker.invisible {
    opacity: 0;
}
